<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/vnd.microsoft.icon">
</head>
<body>
    <h2>Change Password</h2>

    <form id="change-password-form">
        Email Address: <input type="email" id="email" name="email">
        New Password: <input type="password" id="new-password" name="new_password">
        <button type="submit">Change Password</button>
    </form>
    <p id="change-password-message"></p>

    <script>
    document.getElementById('change-password-form').onsubmit = async function(event) {
        event.preventDefault();
        const email = document.getElementById('email').value;
        const newPassword = document.getElementById('new-password').value;
        const response = await fetch('/change-password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email: email, new_password: newPassword })
        });
        const data = await response.text();
        document.getElementById('change-password-message').innerText = data;
    };
    </script>

    <br/><br/>

    <img src="{{ url_for('static', filename='pirate-lan-party.png') }}" style="width: 40%; height: auto;">
</body>
</html>
