<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pirate Files and Reset</title>
</head>
<body>
    <h1>Welcome to the Pirate Ship</h1>
    <p>"A smooth sea never made a skilled pirate" - Some (probably skilled) Pirate</p>

    <ul>
        <li><a href="/admin-access">Admin Access</a></li>
        <li><a href="/password-reset-form">Reset Password</a></li>
        <li><a href="/loot-form">Check Loot</a></li>
        <li><a href="/admin-command">Admin run OS Command</a></li>
        <li><a href="/xslt">Transform XML with XSLT</a></li>
        <li><a href="/change-password">Change Password</a></li>
    </ul>

    <br/><br/>

    <img src="{{ url_for('static', filename='hack-the-seas.png') }}" style="width: 30%; height: auto;">
</body>
</html>
