<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Form</title>
</head>
<body>
    <h2>Password Reset</h2>
    <form id="reset-form">
        Yer email: <input type="email" id="email">
        <button type="submit">Reset Password</button>
    </form>
    <div id="message"></div>

    <script>
        document.getElementById('reset-form').onsubmit = async function(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const response = await fetch('/reset-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email })
            });
            const data = await response.text();
            document.getElementById('message').innerText = data;
        };
    </script>

    <br/><br/>

    <img src="{{ url_for('static', filename='password.png') }}" style="width: 30%; height: auto;">
</body>
</html>
