<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XSLT Transformation</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/vnd.microsoft.icon">
</head>
<body>
    <h2>XSLT Transformation</h2>
    <form id="xslt-form">
        Upload XSLT file: <input type="file" id="xslt-file" accept=".xslt, .xsl">
        <button type="submit">Transform XML</button>
    </form>
    <p id="transformed-xml"></p>

    <script>
        document.getElementById('xslt-form').onsubmit = async function(event) {
            event.preventDefault();
            const xsltFile = document.getElementById('xslt-file').files[0];
            
            if (!xsltFile) {
                alert('Please select an XSLT file.');
                return;
            }

            const formData = new FormData();
            formData.append('xslt_file', xsltFile);

            const response = await fetch('/parse-xslt', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const xmlData = await response.text();
                document.getElementById('transformed-xml').innerText = xmlData;
            } else {
                alert('Error transforming XML.');
            }
        };
    </script>

    <br/><br/>

    <img src="{{ url_for('static', filename='pirate-boat.png') }}" style="width: 50%; height: auto;">
</body>
</html>
